<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="order-detail text-center">
        <h3>注文履歴詳細</h3>
      </div>
      <div>
        <h3>購入者</h3>
        <h3>注文日</h3>
        <h3>配送先</h3>
        <h3>支払方法</h3>
        <h3>注文ステータス</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
    <table class="table col-md-9">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3>商品合計</h3>
      <h3>送料</h3>
      <h3>請求金額合計</h3>
    </div>
  </div>
</div>