<div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color: orange;">
        <h1>ジャンル検索</h1>
    </div>


    <div class="col-md-9">
      <div style="background-color: red;">
        <h3>紹介コメント&写真</h3>
      </div>
      <div style="background-color: blue;">
          <h3>新商品紹介</h3>
      </div>
    </div>
  </div>
</div>