<br>
<div class="top-container">
<div class="container">

  <div class="row h-auto">
    <div class="col-md-3 " style="background-color: orange;">
        <h1>ジャンル検索</h1>
    </div>


    <div class="col-md-9">
      <div class="top-cake">
        <div>
         <h2>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、
         購入には会員登録が必要になります。
         </h2>
        </div>
      </div>
      <div style="background-color: blue;">
          <h3>新商品紹介</h3>
      </div>
    </div>
  </div>
    <div class="top-link">
      <h3>全ての商品を見る></h3>
    </div>
</div>
</div>