<div class='container'>
  <h2>商品一覧</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td></td>
          <td><%= link_to product.name, admin_product_path(product), class: "product_#{product.id}" %></td>
          <td><%= product.selling_price %></td>
          <td><%= product.genre.name %></td>
          <td>
            <% if product.is_selling == 0 %>
            <i class="far fa-circle"></i>
						<% elsif product.is_selling == 1 %>
						<i class="far fa-circle"></i>
						<% end %>
					</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>