<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2>商品詳細</h2>
      
    </div>
    <div class='col-md-7 offset-md-1'>
      <%= @product.name %>
      <%= @product.explanation %>
      <%= @product.genre.name %>
    </div>
  </div>
</div>