// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

 //topページ用
.top-container {
   background-image: image-url('top.png');
   background-size: cover;
   min-height: 100vh;
}

.top-cake {
   background-image: image-url('top-cake.jpeg');
   background-size: cover;
}

.top-link{
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.top-explanation{
  background-color: rgba( 255, 255, 255, 0.2);
}

//aboutページ用
.about-container {
   background-image: image-url('top.png');
   background-size: cover;
   min-height: 100vh;
}

.about-explanation{
  background-color: rgba( 255, 255, 255, 0.5);
}
//top・about共通
