// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

 //topページ用
.top-container {
   background-image: image-url('top-image.png');
   background-size: cover;
   min-height: 100vh;
}

.top-cake {
   background-image: image-url('top-cake.png');
   width: 700px;
   height: 280px;
   background-size: cover;
}

.top-explanation{
  width: 700px;
  height: 280px;
  background-color: rgba( 255, 255, 255, 0.1);
}

.card{
    width: 140px;
    height: 250px;
}

.name{
 color: #808080;
}

.list{
  color: silver;
  position: absolute;
  bottom: 22px;
  right: 22px;
}


//aboutページ用
.about-container {
   background-image: image-url('about.png');
   background-size: cover;
    min-height: 100vh;

}
.introduction{
   min-height: 100vh;
}

.about-explanation{
  background-color: rgba( 255, 255, 255, 0.2);
}



//top・about共通
